{% extends 'base.html' %}
{% block page_title %}Tasks{% endblock %}
{% block title %}Tasks{% endblock %}
{% block content %}
<div class="mobile-container">
    <div class="row">

    </div>
    <div class="row">
        <div class="col s12 ">
            <div class="row">
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s2"><a class='active' href="#all">All</a></li>
                    <li class="tab col s2"><a  href="#should">Should</a></li>
                    <li class="tab col s2"><a href="#will">Will</a></li>
                    <li class="tab col s2"><a href="#am">Am</a></li>
                      <li class="tab col s2"><a href="#have">Have</a></li>
                      <li class="tab col s2"><a href="#create" onclick="open_task('')">Create</a></li>
                  </ul>
                </div>
                <div id="all" class="col s12">
                    <div class="collection">
                        {% for i in items|sort(attribute='priority', reverse=True) %}
                        <a href="#create" class="collection-item modal-trigger" onclick="open_task('{{ i.id }}');"><span class="badge">{{ c.ACTIONS[i.state] }} - {{ '{:,.2f}'.format(i.priority) }}</span>{{ i.name }}</a>
                        {% endfor %}
                        {% if items|length == 0 %}
                        <a href="#create" class="collection-item modal-trigger" onclick="open_task('');">Create New Task</a>
                        {% endif %}
                    </div>
                </div>
                <div id="should" class="col s12">
                    <div class="collection">
                        {% set section_items = items|rejectattr('state', "ne", c.SHOULD_ACTION)|sort(attribute='priority', reverse=True)|list %}
                        {% if section_items|length != 0 %}
                        {% for i in section_items %}
                        <a href="#create" class="collection-item modal-trigger" onclick="open_task('{{ i.id }}');"><span class="badge">{{ c.ACTIONS[i.state] }} - {{ '{:,.2f}'.format(i.priority) }}</span>{{ i.name }}</a>
                        {% endfor %}
                        {% else %}
                        <a href="#create" class="collection-item modal-trigger" onclick="open_task('');">Create New Task</a>
                        {% endif %}
                    </div>

                </div>
                <div id="will" class="col s12">
                    <div class="collection">
                        {% set section_items = items|rejectattr('state', '!=', c.WILL_ACTION)|sort(attribute='date_started')|sort(attribute='priority', reverse=True)|list %}
                        {% if section_items|length != 0 %}

                        {% for i in section_items %}
                        <a href="#create" class="collection-item modal-trigger" onclick="open_task('{{ i.id }}');"><span class="badge">{{ c.ACTIONS[i.state] }} - {{ '{:,.2f}'.format(i.priority) }}</span>{{ i.name }}</a>
                        {% endfor %}
                        {% else %}
                        <a href="#create" class="collection-item modal-trigger" onclick="open_task('');">Create New Task</a>
                        {% endif %}
                    </div>

                </div>
                <div id="am" class="col s12">
                    <div class="collection">
                        {% set section_items = items|rejectattr('state', '!=', c.AM_ACTION)|sort(attribute='date_started')|sort(attribute='priority', reverse=True)|list %}
                        {% if section_items|length != 0 %}
                        {% for i in section_items %}
                        <a href="#create" class="collection-item modal-trigger" onclick="open_task('{{ i.id }}');"><span class="badge">{{ c.ACTIONS[i.state] }} - {{ '{:,.2f}'.format(i.priority) }}</span>{{ i.name }}</a>
                        {% endfor %}
                        {% else %}
                        <a href="#create" class="collection-item modal-trigger" onclick="open_task('');">Create New Task</a>
                        {% endif %}
                    </div>

                </div>
                <div id="have" class="col s12">
                    <div class="collection">
                        {% set section_items = items|rejectattr('state', '!=', c.HAVE_ACTION)|sort(attribute='date_completed')|sort(attribute='priority', reverse=True)|list %}
                        {% if section_items|length != 0 %}
                        {% for i in section_items %}
                        <a href="#create" class="collection-item modal-trigger" onclick="open_task('{{ i.id }}');"><span class="badge">{{ c.ACTIONS[i.state] }} - {{ '{:,.2f}'.format(i.priority) }}</span>{{ i.name }}</a>
                        {% endfor %}

                        {% else %}
                        <a href="#create" class="collection-item modal-trigger" onclick="open_task('');">Create New Task</a>
                        {% endif %}
                    </div>

                </div>
              </div>

            <div class="modal modal-fixed-footer" id="create">
                <form id="task_create_form" action="update_task" method="POST">
                <div class="modal-content" id="task_content">

                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                    <input type="submit" value="Update" class="waves-effect waves-green btn-flat"/>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    var openPage = function(value){
      window.open(value, "_self");
    };

     var choose_existing = function(id){
        document.getElementById('existing_id').value = id;
        document.getElementById('choose_existing').submit();
    };
    var choose_select_change = function(){
        var val = document.getElementById('choose_select').value;
        if(val) {
            if (val == 'new') {
                document.getElementById('choose_new').submit();
            }
            else{
                choose_existing(val);
            }
        }
    };

    var open_task = function(id){
        if(id){
            var data = {
                'id': id,
                'csrf_token': csrf_token
            }
        }
        else{
            var data = {
                'csrf_token': csrf_token
            }
        }
        $.ajax({
            url: 'get_task_modal',
            method: 'POST',
            data: data,
            success: function(e){
                Materialize.toast(e.message, 3000);
                if(e.status){
                    var task = $("#task_content");
                    task.empty();
                    task.append(e.code);
                    $('.writeblock').trumbowyg();
                    $('.datepicker').pickadate({
                        selectMonths: true, // Creates a dropdown to control month
                        selectYears: 15, // Creates a dropdown of 15 years to control year,
                        today: 'Today',
                        clear: 'Clear',
                        close: 'Ok',
                        closeOnSelect: false // Close upon selecting a date,
                      });
                }
            }
        });
    };

</script>
{% endblock %}

{% block jquery_ready %}
$('select').material_select();
$('.collapsible').collapsible();
 $('.modal').modal({
dismissible: true
});
$('.writeblock').trumbowyg();
$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });

$("#task_create_form").ajaxForm(function(e){
    if(e.status){
        location.reload();
    }
});
{% endblock %}
